<%- include("partials/header"); -%>

<div class="main">
  <h1>About</h1>
  <p>Hey everyone! I'm Sanchita Sinha, the creator of this website. This webiste was developed to give you all the tools you need, to focus on the ideas you want to preserve, rather than the process of writing itself. Whether you’re looking for a tool to record your daily emotions and activities in a reflective journal, keep track of milestones in a food diary or pregnancy journal, or even record your dreams in a dream journal, we have you covered.</p>
  <div class="row">
    <div class="col-lg feature-section">
      <img class="feature-icon" src="images/secure.png" alt="security img">
      <p class="feature-heading">100% Private</p>
      <p>Even when carefully kept, paper journals can be read by anyone who happens upon them. With us, you can keep your writings safe and secure.</p>
    </div>

    <div class="col-lg feature-section">
      <img class="feature-icon" src="images/device-friendly.png" alt="device-friendly img">
      <p class="feature-heading">Available anywhere and everywhere</p>
      <p>Take your journals wherever you go with our device friendly website for iPhone, iPad, Android phones and tablets and desktop.</p>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
